:root {
    --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground: #ededed;
    }
}

html,
body {
    max-width: 100vw;
    width: 100%;
    overflow-x: hidden;
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

.bgprin {
    background-image: url('/images/snakegameprin.jpeg');
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 40px;
}

.titulo1,
.titulo2 {
    text-align: left;
    margin-bottom: 20px;
}

.h-100 {
    height: 100%;
}

.signinwrapper {
    background: #1a2b5c;
    background: -webkit-linear-gradient(to right, #011727, #114345, #1a2b5c);
    background: linear-gradient(to right, #011727, #114345, #1a2b5c);
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 40px 0px 40px;
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.shadow {
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.input-group {
    border-radius: 5px;
    background-color: rgba(255 255 255 / 8%) !important;
    width: 100%;
    color: white !important;
    border: none;
}

.form-control,
.form-control-disabled {
    background-color: rgba(255 255 255 / 8%) !important;
    color: white !important;
    border: none;
    height: 45px;
}

.form-control-disabled {
    color: #e0e7e4ad !important;
}

Button {
    height: 45px;
}

.cursor-pointer {
    cursor: pointer;
}

.form-control:focus {
    background-color: rgba(255 255 255 / 20%) !important;
    color: white !important;
    box-shadow: none;
    border: none;
}

.input-group-text {
    color: #ffffffad !important;
    background-color: rgba(255 255 255 / 20%) !important;
    border: none;
}

.input-white-placeholder::placeholder {
    color: #ffffff91 !important;
    opacity: 1;
}

.btn-outline-secondary {
    color: #ffffffad;
    border: none;
    transform: scale(1.2);
}

.fontalert {
    font-size: 12px;
}

.btn {
    border-radius: 0.25rem;
}

.mb-4,
.mb-2 {
    margin-bottom: 1rem !important;
}

.titulo1 {
    color: white;
    font-size: 40px;
    font-weight: bold;
    text-align: left;
}

.titulo2 {
    color: #e99287;
    font-size: 20px;
    font-weight: normal;
    text-align: left;
}

.botones {
    padding: 20px 0px;
    display: flex;
    justify-content: left;
    align-items: left;
}

.bot2 {
    display: flex;
    justify-content: left;
    padding: 0px;
}

.bot1 {
    margin: 0 1rem 0 0rem;
    padding: 10px 25px;
    font-weight: bold;
}

.bgform {
    border: 1px solid #ffffff2e;
    background-color: rgba(255 255 255 / 20%) !important;
}

.signinbackdrop {
    position: absolute;
    inset: 0;
}

.signinwrapper form {
    width: 28rem;
    max-width: 90%;
    z-index: 1;
    margin-top: 90px !important;
    animation: showSignInForm 1s;
}

.formprofile {
    width: 60rem !important;
    max-width: 90%;
    z-index: 1;
    animation: showSignInForm 1s;
}

.signinwrapper form img {
    width: 4rem;
    border: none;
}

.bordercolor {
    border-color: #dbdee0;
}

.fontlabel {
    color: white !important;
}

.h4 {
    font-size: 28px;
    color: white !important;
}

.logoImage {
    max-width: 100%;
    height: auto;
    display: block;
}

.flexspacebetween {
    margin-top: 20px 0px;
    display: flex;
    justify-content: space-between;
}

login-register-hr {
    opacity: 0.2;
    margin: 1rem 0;
    color: inherit;
}

hr {
    border-top: 1px solid ghostwhite !important;
}

.profile-image-container {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
    border: 2px solid #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-image {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.bgcol1 {
    background-color: #0e100f40;
    align-content: center;
}

@keyframes showSignInForm {
    0%,
    30% {
        transform: translate(0, -150%);
    }
    70%,
    90% {
        transform: translate(0, 1rem);
    }
    80%,
    100% {
        transform: translate(0, 0);
    }
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
}

@media (max-width: 768px) {
    .titulo1,
    .titulo2,
    .col-6 {
        min-width: 100% !important;
        width: 100% !important;
        padding: 20px;
        text-align: center !important;
    }
    .titulo1 {
        margin-top: 50px;
    }
    .bot1 {
        width: 100%;
        margin-bottom: 20px;
    }
    .headers_navelements__3lnla ul li {
        margin-left: 5px;
    }
    .signinwrapper {
        padding: 40px 10px;
    }
    .signinwrapper form {
        max-width: 100%;
        min-width: 100%;
    }
}
