.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 4%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.logo {
    display: flex;
    align-items: center;
}

.titu1 {
    font-size: 24px;
    color: white;
    text-decoration: none;
}

.navbar {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 60px;
    width: 100%;
    background: linear-gradient(to right, #011727, #011727);
}

.menuicon {
    display: none;
}

.navelements {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navelements ul {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    padding: 0px;
    margin: 0;
}

.navelements ul li {
    margin-left: 60px;
}

.navelements ul a {
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    text-decoration: none;
}

.navelements ul a.active {
    color: #524c57;
    font-weight: 500;
    position: relative;
}

.navelements ul a.active::after {
    content: '';
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #574c4c;
}

@media (max-width: 600px) {
    .menuicon {
        display: block;
        cursor: pointer;
        transform: scale(1.3);
        color: white !important;
    }

    .navelements {
        position: absolute;
        right: 0;
        top: 60px;
        background: linear-gradient(to right, #3d3f42, #011727);
        width: 270px;
        height: calc(100vh - 60px);
        transition: all 0.3s ease-in;
        overflow: hidden;
        display: none;
    }

    .navelements.active {
        display: flex;
        flex-direction: column;
        padding: 20px;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .navelements ul {
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0;
    }

    .navelements ul li {
        margin-bottom: 15px;
    }
}

.item {
    color: #011727 !important;
}

.itemt {
    color: #ffff !important;
}

.submenu-container {
    position: relative;
    cursor: pointer;
}

.submenu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    border: 1px solid #ddd;
    min-width: 200px;
    padding: 10px;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
